<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Catallogo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('home_template') }}">Início</a>
          <a class="navbar-brand" href="{{ url_for('abre_catalogo3') }}">Catalogo</a>
          <a class="navbar-brand" href="{{ url_for('register_template2') }}">Cadastrar Produto</a>
          <a class="navbar-brand" href="{{ url_for('login_template') }} ">Login</a>
          <a class="navbar-brand" href="{{ url_for('register_template') }} ">Novo Usuário</a>
        </div>
      </div>
    </div>
    <div class="container">

{% block content %}

{% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>